<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      {{user.full_name}}
    </a>
    <a href="#" class="list-group-item list-group-item-action">{{user.first_name}}</a>
    <a href="#" class="list-group-item list-group-item-action">{{user.last_name}}</a>
    <a href="#" class="list-group-item list-group-item-action">{{user.email}}</a>
    <a href="#" class="list-group-item list-group-item-action">{{user.updated_at}}</a>

</div>