<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Auth0 App</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['precios']">Precios</a>
            </li>
            <li class="nav-item" *ngIf="user">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['protegida']">Protegida</a>
            </li>
        </ul>
        <span class="navbar-text" style="margin: 10px;">
            {{user.full_name}}
         </span>


        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="btn btn-outline-danger" (click)="logout()">
              Log out
            </button>
        </ng-container>

        <ng-template #loggedOut>
            <button class="btn btn-outline-primary" (click)="login()">Log in</button>
        </ng-template>
    </div>
</nav>